* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

body {
	font-family: 'Poppins', sans-serif;
}

.heading {
	padding: 10px 0;
	background-color: rgba(226,11,73,0.8);
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 5px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}  

.profil {
	margin: 5px;
	flex-grow: 1;
	flex: auto;
	width: 33.33%;
	text-align: center;
}

.profil img {
	width: auto;
	height: 200px;
}

.profil h3 {
	margin-bottom: 5px;
}

.italic {
	font-style: italic;
}

.red {
	color: rgba(226,11,73,0.8);
}

.profil p {	
	color: #b3aeb5;
	margin-bottom: 10px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container img {
	flex: auto;
	width: 30%;
}
